.flex {
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 15px;
  top: 92%;
}
.orange {
  height: 10px;
  width: 20px;
  margin-top: 13px;
  margin-left: 35px;
  background-color: #FFA500;
}

.first {
  height: 10px;
  width: 20px;
  margin-top: 13px;
  margin-left: 35px;
  background-color: #007A7C;
}

.second {
  height: 10px;
  width: 20px;
  margin-top: 13px;
  margin-left: 35px;
  background-color: #00FFFF;
}

.keys {
  font-size: 12px;
  margin-left: 5px;
}

.pair {
  display: inline-flex;
}
