.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Chart {
  margin-bottom: 800px;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
